@page "/admin/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<h2 style="text-align:center">Products</h2>
<br/>

@if(ProductService.AdminProducts == null)
{
    <span>Loading Products...</span>
}
else
{
    <div style="display: flex; justify-content:center;">
        <button class="btn btn-primary float-end" @onclick="CreateProduct">
            <i class="oi oi-plus"></i> Add New Product
        </button>
    </div>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Type</th>
                <th>Price</th>
                <th>Visible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="ProductService.AdminProducts" Context="product">
                <tr>
                    <td><img src="@product.ImageUrl" style="max-width:75px;"/></td>
                    <td>@product.Title</td>
                    <td>
                        @foreach(var variant in product.Variants)
                        {
                            <span>@variant.ProductType.Name</span><br />
                        }
                    </td>
                    <td>
                        @foreach(var variant in product.Variants)
                        {
                            <span>@variant.Price</span><br />
                        }
                    </td>
                    <td>@(product.Visible ? "✔️" : "")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => EditProducts(product.Id))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}

@code {


    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAdminProducts();
    }

    void EditProducts(int productId)
    {
        NavigationManager.NavigateTo($"admin/product/{productId}");
    }

    void CreateProduct()
    {
        NavigationManager.NavigateTo("admin/product");
    }
}
